main {
    font-family: 'Open Sans';
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(90deg, rgb(144, 123, 84, 0.5), rgb(255, 234, 210, 0.5)),
                        url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
}
p{
    margin-bottom: 30px;
    font-size: 18px;
    color: rgb(25, 25, 25);
}
a {
    color: rgb(41, 8, 188);
}
a:hover {
    color: rgb(7, 92, 7);
}
a:visited {
    color: rgb(4, 122, 122);
}
header blockquote{
    text-align: center;
    font-size: 160%;
    background-color: rgb(210, 210, 210);
    border-left: 3px solid #B22222;
    padding-left: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
}
blockquote{
    font-style: italic;
}
.farmer{
    border-left: 3px solid #085a15;
}
.villagers{
    border-left: 3px solid #e66909;  
}  
.bad{
    color: red;
}
.good{
    color: green;
}

.grey{
    background-color: gray;
}
.white{
    background-color: rgb(255, 255, 255);
}
li{
    padding-bottom: 3%;
}
header p{
    font-weight: 600;
}
.firstimg{
    float: right;
    width: 50%;
    position: static;
}
.clearfloat{
    clear: both;
}
.secondimg{
    float: left;
    width: 50%;
    position: static;
    margin-top: 10%;
}
.thirdimg{
    float: right;
    width: 50%;
    position: static;
}
.figcaptionone{
    margin-top: 45%;
    clear: both;
}
.story{
    margin-top: 3%;
}
.firstp{
    margin-top: 6%;
}
.notification{
    background:#FFFFDD;
    border:3px solid #252525;
    width:250px;
    font-weight:bold;
    color: #252525;
    float: right;
    position: fixed;
    top: 90%;
    left: 85%;
    text-align: center;
}
